extends layout

block content
  content(id="accessRights", class="visible")
    category
      row(class="grey")
        div
        p(class="itemName") Access Level A
        input(class="editAccess", type="button", value="Edit")
        div
      row
        div
        p(class="itemName") Access Level B
        input(class="editAccess", type="button", value="Edit")
        div
      row(class="grey")
        div
        p(class="itemName") Access Level C
        input(class="editAccess", type="button", value="Edit")
        div
      row
        div
        p(class="itemName") Access Level D
        input(class="editAccess", type="button", value="Edit")
        div