extends layout

block content
  content(class="visible")
    div(class="flexRow")
      div(class="flexColumn")
        label(id="accountID")= data['databaseInformation']['id']
        ul(id="accountCore")
          li
            label(id="accountName")= data['databaseInformation']['name']
          li
            label Username: 
            label= data['databaseInformation']['username']
          li
            label Password: 
            input(id="accountPasswordField", type="password", readonly, value= data['databaseInformation']['password'])
          li
            input(id="passwordRevealButton", type="button", value="Toggle Visability")
            input(id="copyButton", type="button", value="Copy Password")
          li
            input(id="accountInformationBackButton", type="button", value="Back")
            input(id="accountInformationDeleteButton", type="button", value="Delete")
            input(id="accountInformationEditButton", type="button", value="Edit")
      div(class="flexColumn")
        textarea(id="accountDescription", readonly)= data['databaseInformation']['description']