extends layout

block content
  content(class="visible")
    ul(id="accessCore")
      li
        input(type="text", placeholder="Name of Access Level")
      li
        label(id="accessCheckBoxTitle") Access To:
      li
        input(type="checkbox", id="1", name="createGroup", value="Create Groups")
        label(for="1") Create Groups
      li
        input(type="checkbox", id="2", name="createInfrastructure", value="Create Infrastructure")
        label(for="2") Create Infrastructure
      li
        input(type="checkbox", id="3", name="editUsers", value="Edit Users")
        label(for="3") Edit Users
      li
        input(type="checkbox", id="4", name="viewInfrastructure", value="View Infrastructure")
        label(for="4") View Infrastructure
      li
        input(type="checkbox", id="5", name="viewPasswords", value="View Passwords")
        label(for="5") View Passwords
    input(id="accessAddButton", type="button", value="Add")
    input(id="accessBackButton", type="button", value="Back")