extends layout

block content

	content(id="groupDetails")
		div(class="flexRow")
			div(class="flexColumn")
				div(id="groupAddCore")
					label(id="groupID")= data['databaseInformation']['id']
					ul
						li
							- if (data['mode'] == 'edit' || data['mode'] == 'amend' || data['mode'] == 'amendMidAdd') {
									input(type="text" id="groupNameField" value= data['databaseInformation']['name'])
							- } else {
									input(type="text" id="groupNameField" placeholder="Name")
							- }
						li
							- if (data['mode'] == 'edit' || data['mode'] == 'amend' || data['mode'] == 'amendMidAdd') {
									textarea(id="groupDescription" maxlength="200" rows="10")= data['databaseInformation']['description']
							- } else {
									textarea(id="groupDescription" maxlength="200" rows="10" placeholder="Description")
							- }
					- if (data['mode'] == "edit") {
						input(id="groupCancelEditButton" type="button" value="Cancel")
						input(id="groupEditFinishButton" type="button" value="Update")
					- } else if (data['mode'] == "quickAdd" || data['mode'] == 'amendMidAdd') {
						input(id="groupQuickCancelEditButton" type="button" value="Cancel")
						input(id="groupQuickEditFinishButton" type="button" value="Update")
						label(id="infrastructureID")= data['databaseInformation']['id']
					- } else {
						input(id="groupBackButton" type="button" value="Back")
						input(id="groupFinishButton" type="button" value="Finish")
					- }
				