subnav(id="titlebarColumn" class="column2")
	p(class="subnavOption subSelected")
		input(id="categoryFilter" type="button" value="Category")
	p(class="subnavOption")
		input(id="groupFilter" type="button" value="Group")