extends layout

block content
  content(class="visible")
    row(class="grey")
      div
      p(class="itemName") email
      form(name="accessChoice")
        select
          option(value="Access Level A") Access Level A
          option(value="Access Level B") Access Level B
          option(value="Access Level C") Access Level C
      div
    row
      div
      p(class="itemName") email
      form(name="accessChoice")
        select
          option(value="Access Level A") Access Level A
          option(value="Access Level B") Access Level B
          option(value="Access Level C") Access Level C
      div
    row(class="grey")
      div
      p(class="itemName") email
      form(name="accessChoice")
        select
          option(value="Access Level A") Access Level A
          option(value="Access Level B") Access Level B
          option(value="Access Level C") Access Level C
      div